= render 'fullscreen_modal', title: '新着ゲーム' do
  - if @games.present?
    #carouselExampleFade.carousel.slide.carousel-fade{"data-bs-ride" => "carousel", style: "height: 800px"}
      .carousel-inner{style: "height: 800px"}
        = render partial: 'game_card', collection: @games, as: :game
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselExampleFade", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Previous
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselExampleFade", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Next
