#welcome {
  background-image: url('bg/start_bg.png');
  background-color: #212121;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @media only screen and (orientation:portrait){
    height: 600px;
  }
  @media only screen and (orientation:landscape){
    height: 800px;
  }
}

#home {
  position:relative;
  background-image: url('bg/start_bg.png');
  background-color: #212121;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @media only screen and (orientation:portrait){
    height: 600px;
    .card_left {
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transform: translateY(-100%);
      margin-top:  auto;
    }
    .card_center {
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transform: translateY(-50%);
      margin-top:  auto;
    }
    .card_right {
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transform: translateY(0%);
      margin-top:  auto;
    }
  }
  @media only screen and (orientation:landscape){
    height: 800px;
    .card_left {
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 30%;
      transform: translateX(-50%);
      margin-top:  auto;
    }
    .card_center {
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-top:  auto;
    }
    .card_right {
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 70%;
      transform: translateX(-50%);
      margin-top:  auto;
    }
  }
}
