#welcome {
  background-image: url('bg/start_bg.png');
  background-color: #212121;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @media only screen and (orientation:portrait){
    height: 600px;
  }
  @media only screen and (orientation:landscape){
    height: 800px;
  }
}

#home {
  position:relative;
  background-image: url('bg/start_bg.png');
  background-color: #212121;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @media only screen and (orientation:portrait){
    height: 600px;
  }
  @media only screen and (orientation:landscape){
    height: 800px;
  }
  form, .card {
    height: 100px;
    position: absolute;
    top: 0;
    bottom :0;
    left: 50%;
    transform: translateX(-50%);
    margin-top:  auto;
    .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
