#home.d-flex.justify-content-center.position-relative
  = button_to '対戦', games_path, method: :post, class: 'position-absolute top-0 mt-5 btn btn-primary w-25'
  %div
    = link_to 'ルールを確認', root_path, class: 'position-absolute bottom-0 mb-5 btn btn-primary w-25'