#home
  .card.p-0
    = link_to 'トップページ', root_path, class: 'btn btn-primary'
  = render 'fullscreen_modal', title: 'クレジット' do
    %p 本サービスにおいて使用させていただいている「ソフトウェア」「アプリケーション」「フリー素材」「ツール」等のコンテンツと製作者様、運営元様、配布元様に深く感謝を申し上げます。
    %br
    %b ゲームイラスト
    %p 七三ゆきのアトリエ
    %p https://nanamiyuki.com/
    