.disabled{
  pointer-events: none;
}

#flashes {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.75rem;
  z-index: 9999;
}

img.card{
  @media (orientation: landscape) {
    width: 180px;
    height: 240px;
  }
  @media (orientation: portrait) {
    width: 90px;
    height: 120px;
  }
}

#logo {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
