= turbo_frame_tag "finish_modal" do
  - if defined?(game_details)
    .modal.fade{ data: { controller: "modal" } }
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            %h5.modal-title
              - if game_details.last.game.game_details.last.finished?
                = game_details.last.game.winner_role
              - else
                ゲーム詳細
            %button.btn-close{ type:"button", data: { 'bs-dismiss': "modal" }, 'aria-label': "Close"}
          .modal-body.d-flex.justify-content-between.overflow-scroll
            = render game_details
