.modal.fade{ data: { controller: "modal" } }
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h5.modal-title
          = title
        %button.btn-close{ type:"button", data: { 'bs-dismiss': "modal" }, 'aria-label': "Close"}
      .modal-body.overflow-scroll
        = yield
