- if game_detail.hand.present?
  %div.mx-3
    = game_detail.round_num
    %br
    = game_detail.user.role
    %br
    = game_detail.round_score
    %br
    %p 得点
    = image_tag game_detail.hand.card_image, class: "card mx-4"
- else
  %div.mx-3 表示する内容が見つかりませんでした。